<div class="container">
   
    <h1 class="text-center">Yönetici Paneli</h1>
    <div class="row justify-content-sm-center" >
      <aside class="col-sm-4 ">
   
    <div class="card text-white bg-success">
    <article class="card-body">
      
    <h4 class="card-title mb-4 mt-1">Giriş yap</h4>
       <form>
        <div class="form-group">
          <label><Em>E postan</Em></label>
            <input name="" class="form-control" placeholder="e posta" type="email" #email>
        </div> 
        <div class="form-group">
         
          <label>Şifren</label>
            <input class="form-control" placeholder="sifre" type="password" #sifre>
        </div> 
        <div class="form-group"> 
       
        </div> 
        <div class="form-group">
            <button (click) = "giris(email.value,sifre.value)" class="btn btn-info btn-block"> Giriş Yap  </button>
        </div>                                                         
    </form>
    </article>
    </div> 
    
      </aside>
    
    </div> 
    
    </div> 
